.active {
  animation: fill-background 1.5s linear;
  animation-fill-mode: forwards;
}

@keyframes fill-background {
  0% {
    background: url(../icons/trash-2.svg) no-repeat center, linear-gradient(to left, rgb(70, 70, 70) 50%, rgb(200, 0, 0) 50%) right;
    background-size: 22px, 200% 100%;
  }

  100% {
    background: url(../icons/trash-2.svg) no-repeat center, linear-gradient(to left, rgb(70, 70, 70) 50%, rgb(200, 0, 0) 50%) left;
    background-size: 22px, 200% 100%;
  }
}

input:focus, .counter>button:hover {
  outline: none;
  border: 2px solid var(--accent-color);
}

.series-data {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
  margin-top: 5px;
}

.series-data-point {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  background-color: white;
}

.series-data-point>label {
  display: block;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  margin-left: 3px;
  margin-bottom: 3px;
}

.series-data-point>input[name="title"] {
  line-height: 25px;
  font-size: 16px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
}

.switch {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 25px;
  width: 90px;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 2px;
  transition: background-position 0.3s;
}

/* Disable default radio icons */
.switch>input[type="radio"] {
  display: none;
}

.switch>label {
  cursor: pointer;
  width: 100%;
  line-height: 25px;
  align-self: center;
  text-align: center;
  transition: color 0.15s, font-size 0.15s;
}

.switch>input[type="radio"]:checked+label {
  color: white;
  font-size: 16px;
  font-weight: medium;
}

.switch>input[type="radio"]:not(:checked)+label {
  color: lightgray;
  font-size: 13px;
}

.switch-right {
  background: linear-gradient(to right, rgba(100, 100, 100, 0) 33%, var(--accent-color) 33% 67%, rgba(100, 100, 100, 0) 67%) left;
  background-size: 150% 100%;
}

.switch-left {
  background: linear-gradient(to right, rgba(100, 100, 100, 0) 32%, var(--accent-color) 32% 66%, rgba(100, 100, 100, 0) 66%) right;
  background-size: 150% 100%;
}

.counter {
  display: flex;
  justify-content: center;
  height: 25px;
}

.counter>input[type="number"] {
  appearance: textfield;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  text-align: center;
}

.counter>button {
  width: 25px;
  padding: 0px;
  transition: background-color 0.15s, transform 0.15s;
}

.counter>button:active {
  transform: scale(0.95, 0.95);
}

.dec-button {
  border: 1px solid rgb(130, 130, 130);
  border-radius: 2px;
  background: url(../icons/minus.svg);
}

.inc-button {
  border: 1px solid rgb(130, 130, 130);
  border-radius: 2px;
  background: url(../icons/plus.svg);
}

.hide {
  display: none !important;
}

.no-transition, .no-transition>label {
  transition: none !important;
}