.body {
  margin-bottom: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(60, 60, 60);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 3px 3px 3px 3px;
}

.dropdown-element {
  display: flex;
  border-radius: 5px;
}

.dropdown-element>label {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 12px;
  color: white;
  font-size: 12px;
  padding: 7px 5px 7px 5px;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown-element>label::after {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  filter: invert(.3);
  content: "";
  transition: filter .3s;
}

.dropdown-element:hover {
  background-color: rgb(70, 70, 70);
}

input[type="radio"] {
  display: none;
}

#filter-dropdown>.dropdown-element>input[type="radio"]:checked+label::after {
  content: url(../icons/check.svg);
  filter: invert(1);
}

#sort-dropdown>.dropdown-element:not([reversed])>input[type="radio"]:checked+label::after {
  content: url(../icons/arrow-down.svg);
  filter: invert(1);
}

#sort-dropdown>.dropdown-element:has([reversed])>input[type="radio"]:checked+label::after {
  content: url(../icons/arrow-up.svg);
  filter: invert(1);
}

#search {
  border: 2px solid black;
  border-radius: 5px;
  background: url(../icons/search.svg) left no-repeat, white;
  background-size: 20px 20px;
  background-position-x: 5px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1rem;
  width: 100%;
}

#search:focus, .card:hover {
  outline: none;
  border-color: var(--accent-color);
}

.series-cards {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-top: .4rem;
  padding: .1rem .5rem .1rem 0;
  overflow-y: scroll;
  scrollbar-color: rgb(150, 150, 150) rgb(100, 100, 100);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  height: 350px;
}

.card {
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  padding: .5rem;
  transition: transform 0.05s, background-color 0.15s, border-color 0.15s;
}

.card:hover {
  transform: scale(0.98, 0.98);
}

.card:active {
  transform: scale(0.96, 0.96);
}

.card>.header {
  line-height: 1.25rem;
  margin-bottom: .3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card>.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card>.body>.card-info-label {
  font-size: .8rem;
  color: #777;
}

.card>.body>.card-link-button {
  height: 20px;
  width: 20px;
  background: url(../icons/external-link.svg) no-repeat;
  border: 0px;
  transition: filter 0.15s;
}

.card>.body>.card-link-button:hover {
  filter: contrast(0%);
}

.hide {
  display: none;
}

.completed {
  background-color: rgba(255, 255, 255, .5);
}
